script/obj/
script/tsconfig.json
script/tstl.log
script/main.lua
script/package.json
script/save_info.json
script/lua_declare.d.ts
script/lua_declare.d.ts.diagnostic
script/trigger_module.d.ts
script/trigger_module_main_1.lua
script/trigger_module_main_1.lua.map
script/trigger_module_main_1.ts
script/trigger_module_main_1.ts.diagnostic
script/trigger_validator.lua
script/trigger_validator.lua.map
script/trigger_validator.ts
script/trigger_validator.ts.diagnostic


ui/script/obj/
ui/script/tsconfig.json
ui/script/tstl.log
ui/script/main.lua
ui/script/package.json
ui/script/save_info.json
ui/script/lua_declare.d.ts
ui/script/lua_declare.d.ts.diagnostic
ui/script/trigger_module.d.ts
ui/script/trigger_module_main_1.lua
ui/script/trigger_module_main_1.lua.map
ui/script/trigger_module_main_1.ts
ui/script/trigger_module_main_1.ts.diagnostic
ui/script/trigger_validator.lua
ui/script/trigger_validator.lua.map
ui/script/trigger_validator.ts
ui/script/trigger_validator.ts.diagnostic

editor/table/save_info.json

table/FloatingTextTemplate.json

.trigger_debugger
.sce_workspace.code-workspace
